
   <div class="row">
        <div class="mid-content col-lg-4 col-md-4 col-sm-4 mb-4">
            <a href="http://dulichviet.com.vn/tour-du-lich-he-trong-nuoc">
                <img class="rounded mx-auto" src="images/lich-khoi-hanh-thang-5-noi-dia.jpg" style="display: inline;">
            </a>
       </div>
        <div class="mid-content col-lg-4 col-md-4 col-sm-4">
            <a href="http://dulichviet.com.vn/tour-du-lich-he-chau-a">
                <img class="rounded mx-auto"  src="images/chum-tour-he-chau-a-2018.png" style="display: inline;">
            </a>
        </div>
        <div class="mid-content col-lg-4 col-md-4 col-sm-4">
            <a href="https://dulichviet.com.vn/du-lich-nuoc-ngoai/du-lich-chau-au-10-ngay-mua-xuan-khoi-hanh-tu-tp-hcm-gia-tot-2018">
                <img class="rounded mx-auto"  src="images/monaco(2).jpg" style="display: inline;">
            </a>
        </div>
    </div>

    