
<div class="" >
	<div class="text-title" style="margin-top:150px;margin-left:100px;">
	<h2>Cảm ơn quý khách đã sử dụng dịch vụ của S Việt Nam.</h2>
	<p>Xin mời quý khách đến tại trụ sở S Việt Nam để hoàn thành các thủ tục đặt tour</p>
	</div>
	
</div><!-- div ds-tn-->

