		</div>
  </body>
  <footer class="sticky-footer pt-5">
      <div class="container-fuild">
      	<!--menu bot -->
      	<div class="row header-bot pt-3">
    <div class="col-md-1"></div>
    <div class="col-md-2">
    	<ul>
			<li>
			<h5><strong><a href="http://dulichviet.com.vn/du-lich-trong-nuoc"><strong>Du lịch Trong nước</strong></a></strong></h5>
			</li>
			<li>
			<h5><strong><a href="http://dulichviet.com.vn/du-lich-mien-bac">Du lịch Miền Bắc</a></strong></h5>
			</li>
			<li><a href="http://dulichviet.com.vn/du-lich-ha-noi">Du lịch Hà Nội</a></li>
			<li><a href="http://dulichviet.com.vn/du-lich-ha-long">Du lịch Hạ Long</a></li>
			<li><a href="http://dulichviet.com.vn/du-lich-sapa">Du lịch Sapa</a></li>
			<li><a href="http://dulichviet.com.vn/du-lich-ninh-binh">Du lịch Ninh Bình</a></li>
			<li><a href="http://dulichviet.com.vn/du-lich-dong-bac">Du lịch Đông Bắc</a></li>
			<li><a href="http://dulichviet.com.vn/du-lich-tay-bac">Du lịch Tây Bắc</a></li>
			<li>
			<h5><strong><a href="http://dulichviet.com.vn/du-lich-mien-trung">Du lịch Miền Trung</a></strong></h5>
			</li>
			<li><a href="http://dulichviet.com.vn/du-lich-da-nang">Du lịch Đà Nẵng</a></li>
			<li><a href="http://dulichviet.com.vn/du-lich-hoi-an">Du lịch Hội An</a></li>
			<li><a href="http://dulichviet.com.vn/du-lich-quang-nam">Du lịch Quảng Nam</a></li>
			<li><a href="http://dulichviet.com.vn/du-lich-hue">Du lịch Huế</a></li>
			<li><a href="http://dulichviet.com.vn/du-lich-quang-binh">Du lịch Quảng Bình</a></li>
			<li><a href="http://dulichviet.com.vn/du-lich-phu-yen">Du lịch Phú Yên</a></li>
			<li><a href="http://dulichviet.com.vn/du-lich-nha-trang">Du lịch Nha Trang</a></li>
			<li><a href="http://dulichviet.com.vn/du-lich-ninh-thuan">Du lịch Ninh Thuận</a></li>
			<li><a href="http://dulichviet.com.vn/du-lich-phan-thiet">Du lịch Phan Thiết</a></li>
			<li>
			<h5><strong><a href="http://dulichviet.com.vn/du-lich-tay-nguyen">Du lịch Tây Nguyên</a></strong></h5>
			</li>
			<li><a href="http://dulichviet.com.vn/du-lich-buon-ma-thuot">Du lịch Buôn Ma Thuột</a></li>
		</ul>
    </div>
    <div class="col-md-2">
        <ul>
		    <li><a href="http://dulichviet.com.vn/du-lich-da-lat">Du lịch Đà Lạt</a></li>
		    <li><a href="http://dulichviet.com.vn/du-lich-pleiku">Du lịch Pleiku</a></li>
		    <li>
		    <h5><strong><a href="http://dulichviet.com.vn/du-lich-mien-nam">Du lịch Miền Nam</a></strong></h5>
		    </li>
		    <li><a href="http://dulichviet.com.vn/du-lich-vung-tau">Du lịch Vũng Tàu</a></li>
		    <li><a href="http://dulichviet.com.vn/du-lich-con-dao">Du lịch Côn Đảo</a></li>
		    <li><a href="http://dulichviet.com.vn/du-lich-dong-nai">Du lịch Đồng Nai</a></li>
		    <li><a href="http://dulichviet.com.vn/du-lich-phu-quoc">Du lịch Phú Quốc</a></li>
		    <li>
		    <h5><a href="http://dulichviet.com.vn/du-lich-mien-tay"><strong>Du lịch Miền Tây</strong></a></h5>
		    </li>
		    <li><a href="http://dulichviet.com.vn/du-lich-can-tho">Du lịch Cần Thơ</a></li>
		    <li><a href="http://dulichviet.com.vn/du-lich-an-giang">Du lịch An Giang</a></li>
		    <li><a href="http://dulichviet.com.vn/du-lich-tien-giang">Du lịch Tiền Giang</a></li>
		    <li><a href="http://dulichviet.com.vn/du-lich-vinh-long">Du lịch Vĩnh Long</a></li>
		    <li>
		    <h5><strong><a href="http://dulichviet.com.vn/du-lich-chau-a">Du lịch Châu Á</a></strong></h5>
		    </li>
		    <li>
		    <h5><a href="http://dulichviet.com.vn/#"><strong>Du lịch Đông Nam Á</strong></a></h5>
		    </li>
		    <li><a href="http://dulichviet.com.vn/du-lich-thai-lan">Du lịch Thái Lan</a></li>
		    <li><a href="http://dulichviet.com.vn/du-lich-campuchia">Du lịch Campuchia</a></li>
		    <li><a href="http://dulichviet.com.vn/du-lich-singapore">Du lịch Singapore</a></li>
		    <li><a href="http://dulichviet.com.vn/du-lich-malaysia">Du lịch Malaysia</a></li>
		    <li><a href="http://dulichviet.com.vn/du-lich-singapore-malaysia">Du lịch Sing - Mã</a></li>
		    <li><a href="http://dulichviet.com.vn/du-lich-philippines">Du lịch Philippines</a></li>
		</ul>

    </div>
    <div class="col-md-2">
    	<ul>
			<li><a href="http://dulichviet.com.vn/du-lich-brunei">Du lịch Brunei</a></li>
			<li><a href="http://dulichviet.com.vn/du-lich-myanmar">Du lịch Myanmar </a></li>
			<li><a href="http://dulichviet.com.vn/du-lich-lao">Du lịch Lào</a></li>
			<li><a href="http://dulichviet.com.vn/du-lich-indonesia">Du lịch Indonesia</a></li>
			<li>
			<h5><a href="http://dulichviet.com.vn/#"><strong>Du lịch Đông Bắc Á</strong></a></h5>
			</li>
			<li><a href="http://dulichviet.com.vn/du-lich-nhat-ban">Du lịch Nhật Bản</a></li>
			<li><a href="http://dulichviet.com.vn/du-lich-han-quoc">Du lịch Hàn Quốc</a></li>
			<li><a href="http://dulichviet.com.vn/du-lich-hong-kong">Du lịch Hồng Kông</a></li>
			<li><a href="http://dulichviet.com.vn/du-lich-trung-quoc">Du lịch Trung Quốc</a></li>
			<li><a href="http://dulichviet.com.vn/du-lich-dai-loan">Du lịch Đài Loan</a></li>
			<li><a href="http://dulichviet.com.vn/du-lich-trieu-tien">Du lịch Triều Tiên</a></li>
			<li>
			<h5><a href="http://dulichviet.com.vn/#"><strong>Du lịch Nam Á</strong></a></h5>
			</li>
			<li><a href="http://dulichviet.com.vn/du-lich-maldives">Du lịch Maldives</a></li>
			<li><a href="http://dulichviet.com.vn/du-lich-an-do">Du lịch Ấn Độ</a></li>
			<li><a href="http://dulichviet.com.vn/du-lich-nepal">Du lịch Nepal</a></li>
			<li>
			<h5><a href="http://dulichviet.com.vn/du-lich-trung-dong"><strong>Du lịch Trung Đông</strong></a></h5>
			</li>
			<li><a href="http://dulichviet.com.vn/du-lich-dubai">Du lịch Dubai</a></li>
			<li><a href="http://dulichviet.com.vn/du-lich-ai-cap">Du lịch Ai Cập</a></li>
			<li><a href="http://dulichviet.com.vn/du-lich-israel">Du lịch Israel</a></li>
			<li><a href="http://dulichviet.com.vn/du-lich-tho-nhi-ky">Du lịch Thổ Nhĩ Kỳ</a></li>
		</ul>
    </div>
    
    <div class="col-md-2">
    	<ul>
			<li>
			<h5><a href="http://dulichviet.com.vn/du-lich-chau-my"><strong>Du lịch Châu Mỹ</strong></a></h5>
			</li>
			<li><a href="http://dulichviet.com.vn/du-lich-my">Du lịch Mỹ</a></li>
			<li><a href="http://dulichviet.com.vn/du-lich-cannada">Du lịch Canada</a></li>
			<li><a href="http://dulichviet.com.vn/du-lich-nam-my">Du lịch Nam Mỹ</a></li>
			<li><a href="http://dulichviet.com.vn/du-lich-brazil">Du lịch Brazil</a></li>
			<li><a href="http://dulichviet.com.vn/du-lich-cuba">Du lịch Cuba</a></li>
			<li>
			<h5><strong><a href="http://dulichviet.com.vn/du-lich-chau-uc">Du lịch Châu Úc</a></strong></h5>
			</li>
			<li><a href="http://dulichviet.com.vn/du-lich-uc">Du lịch Úc</a></li>
			<li><a href="http://dulichviet.com.vn/du-lich-new-zealand">Du lịch New Zealand</a></li>
			<li>
			<h5><strong><a href="http://dulichviet.com.vn/du-lich-chau-phi">Du lịch Châu Phi</a></strong></h5>
			</li>
			<li><a href="http://dulichviet.com.vn/du-lich-nam-phi">Du lịch Nam Phi</a></li>
			<li><a href="http://dulichviet.com.vn/du-lich-mauritius">Du lịch Kenya</a></li>
			<li><a href="http://dulichviet.com.vn/du-lich-kenya">Du lịch Mauritius</a></li>
			<li>
			<h5><strong><a href="http://dulichviet.com.vn/du-lich-trong-nuoc-tet-am-lich">Du lịch Tết trong nước</a></strong></h5>
			</li>
			<li>
			<h5><strong><a href="http://dulichviet.com.vn/du-lich-nuoc-ngoai-tet-am-lich">Du lịch Tết nước ngoài</a></strong></h5>
			</li>
			<li>
			<h5><strong><a href="http://dulichviet.com.vn/du-lich-xuyen-viet">Du lịch xuyên việt</a></strong></h5>
			</li>
			<li>
			<h5><strong><a href="http://dulichviet.com.vn/tour-free-and-easy">Tour Free and Easy</a></strong></h5>
			</li>
		</ul>
    </div>
    <div class="col-md-2">
    	<ul>
			<li>
			<h5><a href="http://dulichviet.com.vn/du-lich-chau-au"><strong>Du lịch Châu Âu</strong></a></h5>
			</li>
			<li>
			<h5><a href="http://dulichviet.com.vn/#"><strong>Du lịch Tây Âu</strong></a></h5>
			</li>
			<li><a href="http://dulichviet.com.vn/du-lich-phap">Du lịch Pháp</a></li>
			<li><a href="http://dulichviet.com.vn/du-lich-bi">Du lịch Bỉ</a></li>
			<li><a href="http://dulichviet.com.vn/du-lich-ha-lan">Du lịch Hà Lan</a></li>
			<li><a href="http://dulichviet.com.vn/du-lich-duc">Du lịch Đức</a></li>
			<li><a href="http://dulichviet.com.vn/du-lich-y">Du lịch Ý</a></li>
			<li><a href="http://dulichviet.com.vn/du-lich-thuy-si">Du lịch Thụy Sĩ</a></li>
			<li><a href="http://dulichviet.com.vn/du-lich-hy-lap">Du lịch Hy Lạp</a></li>
			<li><a href="http://dulichviet.com.vn/du-lich-anh">Du lịch Anh</a></li>
			<li><a href="http://dulichviet.com.vn/du-lich-ao">Du lịch Áo</a></li>
			<li><a href="http://dulichviet.com.vn/du-lich-thuy-dien">Du lịch Thụy Điển</a></li>
			<li><a href="http://dulichviet.com.vn/du-lich-scotland">Du lịch Scotland</a></li>
			<li><a href="http://dulichviet.com.vn/du-lich-dan-mach">Du lịch Đan Mạch</a></li>
			<li><a href="http://dulichviet.com.vn/du-lich-phan-lan">Du lịch Phần Lan</a></li>
			<li>
			<h5><a href="http://dulichviet.com.vn/#"><strong>Du lịch Đông Âu</strong></a></h5>
			</li>
			<li><a href="http://dulichviet.com.vn/du-lich-nga">Du lịch Nga</a></li>
			<li><a href="http://dulichviet.com.vn/du-lich-czech">Du lịch Czech</a></li>
			<li><a href="http://dulichviet.com.vn/du-lich-hungary">Du lịch Hungary</a></li>
			<li><a href="http://dulichviet.com.vn/du-lich-ba-lan">Du lịch Ba Lan</a></li>
		</ul>
    </div>
    <div class="col-md-1"></div>
</div>

<div class="row mid-bot">
<ul>
	<li><a href="http://localhost:3000/">Trang chủ</a></li>
	<li><a href="#">Tin tức</a></li>
	<li><a href="#">Video</a></li>
	<li><a href="#">Tạp chí du lịch</a></li>
	<li><a href="#">Cẩm nang du lịch</a></li>
	<li><a href="#">Kinh nghiệm du lịch</a></li>
	<li><a href="#">Sitemap</a></li>
	<li><a href="#">Khuyến mãi</a></li>
	<li><a href="#">Liên hệ</a></li>
</ul>
</div>
        <div class="text-center">
          <small>Copyright © Your Website 2018</small>
        </div>
      </div>
    </footer>
</html>